body{
    font-family: 'Oswald', sans-serif;
}
nav{

    height: 60px;
    font-size: 36px;
    background: #3b4a6b;
    color: #f0d43a;
    text-justify: newspaper;
    text-align: left;
    font-weight: bold;
    
    vertical-align: middle;
    
    }
.app {
    display: flex;
    flex-direction: column;
    height:100vh;
    background: #fffff8;
    color: #2b1f1c;
    justify-content: left;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
   
    
}




input, textarea{
    display:block;
    height: 60px;
    width: 320px;
    background:#dbe2e4;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-color: black;
    border-width: 1px;
    margin-bottom: 20px;
}
textarea{
    height: 100px;

}

button{
    width: 200px;
    height: 75px;
    background: #90a8da;
    color: #992828;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    margin: none;
    margin-bottom: 30px;
}
button:focus {
    outline: none;
}



 .selectMethod {
    display: flex;
    flex-direction: row;
    justify-content:  left;

   
    
}

#searchMethodButton{
    min-width: 250px ;
    height: 40px;
    text-align: center;

}

#OR {
    font-size: 30px;
    justify-content:  space-between;
    margin-right:5px ;
}
.holderEntry{
    background: rgba(204, 206, 209, 0.4);}
.title{
    font-weight: bold;
}
#noZipOrName{
color: crimson;
    }
.hiddenClass{
    display:none
}
 